body {
background-color: #E5E5E5;
}

/* unvisited link */
a:link {
    text-decoration: none;
    color: #C1C1C1;
}

/* visited link */
a:visited {
    text-decoration: none;
    color: #C1C1C1;
}

/* mouse over link */
a:hover {
    text-decoration: none;
    color: #C1C1C1;
}

.welcome {
            text-align: center;
            color: #FFFFFF;
}

h1 {
            font: bold 72px arial, sans-serif;
}
.container {
            overflow: hidden;
            background: #FFFFFF;
            position: relative;
            width: 600px;
            height: 270px;
            margin: 0 auto;
            border: 1px solid #000000;
            border-opacity: 50%;

}
.search {
            margin: 0 auto;
            text-align: center;
}