body {
  background-color: #D1EEEE;
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: center;
}

p {
  font-size: 12px;
}

a {
  color: #0066CC;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

abbr[title] {
  border-bottom: 1px dotted;
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #b4bcc2;
}

.container {
  background-color: #FFFFFF;
  margin: 0 auto;
  padding: 0px 0px 0px 0px;
  width: auto;
  border: 1px solid #FFFFFF;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.container:hover {
  border: 1px solid #5F9F9F;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.contain {
	max-width:40%;
	text-align:center;
}
.link {    
	z-index:1;
	padding:2em;
    background-color:#FFFFFF;
    width:80px;
    top:0;
    right:0;
    left:75%;
    margin: 10px;
  border: 1px solid #FFFFFF;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
position:relative;
display: inline-block;
}
.link:hover {
  border: 1px solid #5F9F9F;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* unvisited link */
a:link {
    text-decoration: none;
    color: #000000;
	font-size: 16px;
}

/* visited link */
a:visited {
    text-decoration: none;
    color: #000000;
	font-size: 16px;
}

/* mouse over link */
a:hover {
    text-decoration: none;
    color: #000000;
	font-size: 16px;
}